a {
  text-decoration: none;
}

#nav1 {
  display: inline-block;
  height:52px;
  background-color: #F1F2F6;
  width:1366px;
  opacity:0,7
}

.navg1 {
  float:left;
  color:grey;
  margin-left:70px;
}
.menunavg1 li {
  display:inline;
}
.navd1 {
  float:right;
  color:grey;
  margin-right: 60px;
}

.ul1 {
  color:grey;
  margin-left:15px;
  border-left: solid 1px grey;
  padding:18px;
  opacity:0.5;
}
.menunavd1 li {
  display:inline;
}

hr {border:0;
  clear:both;
}

#nav2 {
  display:inline-block;
  height:85px;
  width:1366px;
}

.navg2 {
  float:left;
  margin-left: 85px;
}

.ul3  {
  color:#F6BF3E;
  font-size:40px;

}
.menunavd2 li {
  display:inline;
}
.navd2 {
  float:right;
  margin-right: 60px;
}

.ul2 {
  color:black;
  font-size:14px;
  margin-right:20px;
}

.ul2b {
  color:#FF8C00;
  font-size:14px;
  margin-right: 20px;
}
